.input-annotation {
    line-height: 20px;
    font-size: var(--text-xxs);
    color: var(--text-tertiary-600);
    margin: var(--spacing-xs) 0 0 0;
}

.input-annotation.margin-top-md {
    line-height: 24px;
    margin: var(--spacing-sm) 0 0 0;
}

.input-annotation.disabled {
    color: var(--text-disabled);
}

.input-annotation.error:not(.disabled) {
    color: var(--text-error-primary);
}

